body{
    counter-reset: section;
    counter-reset: heading;
}

h3::before{
   counter-increment: section;
   content: counter(section)": ";
}

h1 {
    counter-reset: subheading;
    &::before{
        content: counter(heading)") ";
        counter-increment: heading;
    }
}

h2::before {
    content: counter(heading) "." counter(subheading) ") ";
    counter-increment: subheading;
}


// ol {
//     counter-reset: counter; 
//     list-style-type: none;
//   }
  
//   li::before {
//     counter-increment: counter; 
//     content: counters(counter, ".") " "; 
//   }

ol{
    counter-reset: counter;
    list-style: none;
}

li::before{
    counter-increment: counter;
    content: counters(counter, ".")" ";
}